.header {
    width: 100%;
    background-color: var(--color-surface);
    box-shadow: var(--global-shadow-raised);
}

.header-ribbon {
    background-color: var(--color-primary);
}

.header-ribbon .container {
    display: flex;
    justify-content: flex-end;
}

.header-ribbon a {
    display: flex;
    align-items: center;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1rem;
    font-size: 0.75rem;
    text-decoration: none;
    color: var(--color-on-primary);
    transition: var(--global-transition);
}

.header-ribbon a:hover,
.header-ribbon a:focus {
    background-color: var(--color-primary-container);
}

.header-ribbon a span {
    margin-left: 0.5rem;
}

@media (max-width: 340px) {
    .header-ribbon a svg {
        display: none;
    }
}

@media (max-width: 400px) {
    .header-ribbon a {
        padding: 0 0.5rem;
    }
}

@media (max-width: 900px) {
    .header-ribbon a:first-child {
        display: none;
    }
}

.header-navigation {
    opacity: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    width: 75%;
    left: calc(-100% - 1px);
    min-width: 300px;
    max-width: 320px;
    max-height: 100vh;
    background-color: var(--color-surface);
    box-shadow: var(--global-shadow-raised);
    z-index: 1001;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.header-navigation > ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-navigation > ul > li {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--color-outline);
}

.header-navigation > ul > li > a {
    display: block;
    line-height: 4.5rem;
    text-align: left;
    margin: 0;
    padding: 0 2rem;
    border: none;
    font-size: 0.875rem;
    font-family: var(--global-font-family);
    font-weight: bold;
    text-decoration: none;
    color: var(--color-on-background);
    transition: var(--global-transition);
}

.header-navigation > ul > li > a:hover,
.header-navigation > ul > li > a:focus,
.header-navigation > ul > li > a:active {
    color: var(--color-on-background);
    background-color: var(--color-primary-container);
}

.header-navigation > ul > li > button {
    display: block;
    width: 100%;
    line-height: 2.5rem;
    text-align: left;
    padding: 0 1rem;
    border: none;
    font-size: 0.75rem;
    font-family: var(--global-font-family);
    font-weight: normal;
    text-decoration: none;
    background-color: transparent;
    color: var(--color-on-background);
}

.header-navigation-open {
    opacity: 1;
    left: 0;
    visibility: visible;
}

@media screen and (min-width: 900px) {
    .header-navigation {
        opacity: 1;
        position: static;
        flex-direction: row;
        flex-grow: 1;
        width: auto;
        min-width: auto;
        max-width: none;
        max-height: none;
        box-shadow: none;
        visibility: visible;
        background-color: transparent;
        margin-left: 1rem;
        overflow: visible;
        justify-content: flex-end;
    }

    .header-navigation > ul {
        flex-direction: row;
        height: auto;
        overflow: visible;
        margin: 0;
    }

    .header-navigation > ul > li {
        border: none;
        position: relative;
        margin: 0 1rem 0 0;
    }

    .header-navigation > ul > li > a,
    .header-navigation > ul > li > button {
        line-height: 3.5rem;
        margin: 0;
        padding: 0.5rem 1rem 0.25rem 1rem;
        font-weight: bold;
        border-radius: 0;
        display: block;
        width: 100%;
        font-size: 0.875rem;
        cursor: pointer;
        border-bottom: 0.25rem solid transparent;
        transition: var(--global-transition);
    }

    .header-navigation > ul > li > a:hover,
    .header-navigation > ul > li > a:active,
    .header-navigation > ul > li > a:focus,
    .header-navigation > ul > li > a.active,
    .header-navigation > ul > li > button:hover,
    .header-navigation > ul > li > button:active,
    .header-navigation > ul > li > button:focus,
    .header-navigation > ul > li > button.active {
        color: var(--color-on-background);
        background-color: transparent;
        border-bottom: 0.25rem solid var(--color-primary);
    }
}

.header-toggle {
    background-color: transparent;
    border: none;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 2.5rem;
    margin: 0 0 0 -1rem;
    padding: 0;
    transition: var(--global-transition);
    cursor: pointer;
}

.header-toggle > svg {
    margin: 1.5rem 0;
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-on-background);
    color: var(--color-on-background);
}

.header-toggle:hover,
.header-toggle:focus,
.header-toggle:active {
    background-color: var(--color-primary-container);
}

@media screen and (min-width: 900px) {
    .header-toggle {
        display: none;
    }
}

.header-language {
    margin: 1.5rem 1rem;
    padding: 0;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.75rem;
    overflow: hidden;
    border: none;
    cursor: pointer;
    transition: var(--global-transition);
    outline: 0 solid transparent;
}

.header-language > img {
    height: 100%;
    border-radius: 0.75rem;
    margin-left: -16.666%;
}

.header-language:hover,
.header-language:focus,
.header-language:active {
    outline: 0.25rem solid var(--color-primary);
}
