.phone-wrapper {
    display: flex;
}

.phone-wrapper .select-wrapper {
    margin-right: 1rem;
}

.phone-wrapper .select-input {
    width: 8rem;
}

.phone-wrapper .select-dropdown {
    width: 20rem;
}

.phone-country-code-value-flag,
.phone-country-code-option-flag {
    margin-right: 1rem;
    pointer-events: none;
}

.phone-country-code-option-label {
    flex: 1;
    margin-right: 1rem;
    pointer-events: none;
}

.phone-country-code-value-code {
    flex: 1;
    text-align: right;
}

.phone-country-code-option-code {
    opacity: 0.5;
    pointer-events: none;
}

.phone-number-wrapper {
    position: relative;
    flex: 1;
}

.phone-number-label {
    position: absolute;
    color: var(--color-on-background);
    font-size: 0.75rem;
    left: 0.75rem;
    top: -0.5rem;
    background-color: var(--color-background);
    padding: 0 0.25rem;
    transition: var(--global-transition);
}

.phone-number-input {
    width: 100%;
    padding: 0.25rem 1rem 0;
    line-height: 1.5rem;
    height: 3rem;
    font-family: var(--global-font-family);
    border: 1px solid var(--color-outline);
    border-radius: var(--global-border-radius);
    font-size: 0.875rem;
    background-color: transparent;
    color: var(--color-on-background);
    -webkit-appearance: none;
    transition: var(--global-transition);
}

.phone-number-input:focus {
    border-color: var(--color-primary);
    border-width: 2px;
    padding: 0.25rem calc(1rem - 1px) 0;
}

.phone-number-input:focus + .select-label {
    color: var(--color-primary);
}
