.vehicle {
    border-radius: var(--global-border-radius);
    background-color: var(--color-surface);
    box-shadow: var(--global-shadow-raised);
    text-align: center;
    height: 100%;
}

.vehicle img {
    width: 100%;
    border-radius: var(--global-border-radius) var(--global-border-radius) 0 0;
}

.vehicle h3 {
    padding: 2rem 1rem 0 1rem;
    font-size: 1.5rem;
    color: var(--color-on-surface);
}

.vehicle h4 {
    margin: 0;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--color-primary);
}

.vehicle h4 small:first-child {
    padding-right: 0.5rem;
    font-size: 0.875rem;
}

.vehicle h4 small:last-child {
    padding-left: 0.5rem;
    font-size: 0.875rem;
}

.vehicle p {
    margin: 0;
    padding: 1rem;
    font-size: 0.875rem;
}

.vehicle .image {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    border-radius: var(--global-border-radius) var(--global-border-radius) 0 0;
    overflow: hidden;
    position: relative;
}

.vehicle-highlight .image {
    border-radius: var(--global-border-radius);
}

.vehicle .pills {
    padding: 2rem;
    min-height: 13rem;
}

.vehicle .pills .pill {
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    font-size: 0.875rem;
    color: var(--color-on-surface-variant);
    background-color: var(--color-surface-variant);
}

.vehicle .pills .pill span {
    padding-left: 0.5rem;
    float: right;
}

.vehicle .action {
    padding: 0.5rem 1rem 2rem 1rem;
}